<div class="container-fluid">
   <div class="row">
      {{#each posts}}
      <div class="col-lg-4 col-md-6 col-sm-12 flip" id="savedGameCard">
         <div class="front" style="background-image: url({{dataValues.background_image}})">
            <h1 class="text-shadow">{{dataValues.name}}</h1>
         </div>
         <div class="back">
            <h2>{{dataValues.name}}</h2>
            <h7>Released: {{dataValues.released}}</h7>
            <br>
            {{#if dataValues.metacritic}}
            <h7>Metacritic: {{dataValues.metacritic}}</h7>
            {{/if}}
            <p class="descr">{{dataValues.description_raw}}</p>
            <button type="button" class="fullDetails btn btn-secondary" value="{{dataValues.gameId}}">Full Game
               Details</button>
            <button type="button" class="deleteGame btn btn-secondary" id="delete" value="{{dataValues.gameId}}"><i
                  class="fa fa-trash"></i></button>
         </div>
      </div>
      {{/each}}
   </div>
</div>
   
